.signUpLibrary {
    color: rgb(236, 158, 68);
    margin-left: 745px;
    margin-top: 80px;
}

.content-label {
    margin-top: 30px;
    margin-left: 590px;
}

#buttonSubmit {
    margin-top: 30px;
    margin-left: 285px;
}

#mensagem {
    color: red;
}